{% extends "base.html" %}
{% load static %}

{% block title %}
    Weather Forecast
{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Weather Forecast</h1>
        </div>
        {% for id_day in psrametres.days %}
            <h2>dfsf</h2>
            <div>
                <article>
                <ul>
                    <li>
                        Хуй
                    </li>
                    <li>
                        Пизда
                    </li>
                </ul>
                </article>
            </div>
            <div>

            </div>
        {% endfor %}
    </main>


{% endblock %}


